# DPN Neuralizer Advanced
ensure dpn_neuralizer_advanced

# Admin immunity. Add whichever groups your server uses.
add_ace group.admin dpn.neuralizer.admin allow
add_ace group.god dpn.neuralizer.admin allow

# Optional: only needed if Config.Security.requireAceToUse = true
add_ace group.admin dpn.neuralizer.use allow
